<% for (var i = 0; i < frags.length, i++) { %>
	<%var fragDivID = username +'Frag'+ i%>
	<div id="<%= fragDivID %>" class="dynDiv_moveDiv">
		<div class="dynDiv_resizeDiv_tl"></div>
		<div class="dynDiv_resizeDiv_tr"></div>
		<div class="dynDiv_resizeDiv_bl"></div>
		<div class="dynDiv_resizeDiv_br"></div>
		<p><%= frags[i].content %></p>
		<div class="footer">
			<p><span class="footerPoster">Posted by <%= user %></span><span class="footerDate"> at <%= frags[i].timestamp %></span></p>
		</div>
	</div>
	<script>
		$("#<%= fragDivID %>").css("left", <%= frags[i].posLeft +"px" %>);
		$("#<%= fragDivID %>").css("top", <%= frags[i].posTop +"px" %>);
	</script>
<% } %>


<script>

	/*
	* this is probably the wrong place for this script!!
	* turns current positions of frags in to arrays of coordinates
	* combines positions and username in to JSON object
	* does AJAX post to send JSON object
	* alerts when AJAX post is successful
	*/
	
	function savePositions() {
		
		//get positions of all frags
		var positionsTop = [], positionsLeft = [];
		<% for (var i = 0; i < frags.length, i++) { %>
			<%var fragDivID = user +'Frag'+ i%>
			positionsTop[<%= i %>] = $("#<%= fragDivID %>").css("top").replace(/[^-\d\.]/g, '');
			positionsLeft[<%= i %>] = $("#<%= fragDivID %>").css("left").replace(/[^-\d\.]/g, '');
		<% } %>
		
		//turn positions in to a JSON object and stringify
		var positions = new Object();
		positions.user = <%= user %>;
		positions.top = positionsTop;
		positions.left = positionsLeft;
		var positionsString = "data=" + JSON.stringify(positions);
		
		//ajax POST to transmit positions
		$.ajax({
			url: "/piles/saveUserPile",
			type: "POST",
			data: positionsString
		}).done(function() { 
			//called when POST is successfully completed
			alert("Pile successfully saved");
		});
	}
</script>
<button id="saveButton" onclick="savePositions()" type="button">Save Pile</button>